#### LOOPS
 - for loop
 - while loop

syntax for loop

In [3]:
lst =[3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in lst:
        print (i)

3
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
fruits = ['apple','mango','banana','grapes']
for i in fruits:
    print(i,end=' ')

apple mango banana grapes

In [13]:
name = 'sakshi'
for x in name:
    print(x,end=' ')

s a k s h i

In [22]:
name = 'SAKSHI'
for x in name:
    print(x)

S
A
K
S
H
I

In [6]:
lst =[3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in lst:
        print (i, end = ' ')

3 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [8]:
for num in range(21):
        print (num,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [9]:
for num in range (1,6):
            print (num,end=' ')

1 2 3 4 5

In [10]:
for num in range (1,21,2):
    print (num,end=' ')

1 3 5 7 9 11 13 15 17 19

In [16]:
name = "SAKSHI"
for _ in range(5):
    print (name)

SAKSHI
SAKSHI
SAKSHI
SAKSHI
SAKSHI

In [20]:
for even in range(0,20,2):
    print (even,end=' ')

0 2 4 6 8 10 12 14 16 18

In [21]:
a = 0
while a<=5:
    print(a)
    a+=1

0
1
2
3
4
5

In [23]:
fruits = ['apple','banana','mango','orange','onion','kiwi','melon']
for i in fruits:
    if i == 'onion':
        continue
print (i)

melon