In [1]:
a=10
print(a)

10

In [3]:
b = input("input enter a number")
print(b)

86

 OPERATORS

In [8]:
x= 10
y= 5
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x//y)
print(x**y)

15
5
2.0
50
2
100000

In [9]:
x=5
x+=5
print(x)

10

In [10]:
x-=5
print(x)

5

In [11]:
x*=5
print(x)

25

 ### comparison operator

In [12]:
a = 10
b = 3
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

#### logical operator

In [13]:
a>5 and a>11

False

In [14]:
a>5 or a>11

True

In [15]:
not(a>5 and a>11)

True

 #### membership operator

In [16]:
fruits =['apple','mango','grapes']
'mango' in fruits

True

##### STRING

In [1]:
poem='''johny johny yes papa
eating sugar no papa'''
print(poem)

johny johny yes papa
eating sugar no papa

#### LIST

In [2]:
fruits = ['apple','mango','banana','grapes']
print(fruits)

['apple', 'mango', 'banana', 'grapes']

#### TUPPLE **

In [4]:
fruits.append('mango')
print(fruits)

['apple', 'mango', 'banana', 'grapes', 'mango', 'mango']

In [6]:
fruit=('apple','mango','grapes','papaya','kiwi','banana')
print(fruit)

['apple', 'mango', 'banana', 'grapes', 'mango', 'mango']

#### SET

In [7]:
fruit = {'apple','mango','grapes','banana','kiwi','orange','apple','mango'}
print(fruit)

{'orange', 'mango', 'banana', 'kiwi', 'apple', 'grapes'}

#### dictionary

In [10]:
student = {
    'name' : 'sakshi',
    'age'  : 22,
    'class': 'bca',
    'marks': '90'
}
print(student)

{'name': 'sakshi', 'age': 22, 'class': 'bca', 'marks': '90'}

#### type

In [14]:
a=10.2
b="hello world"
type(a)
type(b)

str

In [24]:
a = input('Enter a number')
b = input('Enter a number')
print(a+b) #string concatenation

444

In [25]:
type(a)

str

In [26]:
#Type casting
a =int(input('Enter a number'))
b =int(input('Enter a number'))
print(a+b)

14

In [27]:
a = 10
b = 20
print('result is',a+b)

result is 30

In [28]:
a = 10
b = 20
print('sum of',a,'and',b,'is',a+b)

sum of 10 and 20 is 30

In [29]:
print(f'sum of {a} and {b} is {a+b}')

sum of 10 and 20 is 30

#### condition statement  IF  ELSEIF IFELSE NESTEDIF